h1,p{
    text-align: center;
   
    
}
.sec1.content.hi ,h1,p{
    

    margin-bottom: 15px;
    margin-top: 0.01rem;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-align: center;
     
} 
h1{
    font-size: 40px;
    color: grey;
}


.span1{
    font-style: oblique;
    }
    hr{
    border-top:2px solid black;    
    
    }
    ul{
        list-style-type: circle;
    }
 body{
    color: ;
 }
 .hi{
    padding-right: 15%;
    margin-bottom: 0px;
}
